<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>coldoutsi.de - {{ location.name }}</title>
    <link rel="Stylesheet" href="/style.css" />
  </head>
  <body>
    <p>Weather report: {{ location.label }}</p>
    {% render './measurement', measurement: current, date: 'Now' %}
    <p>{{ current.weather[0].art.emoji }} {{ current.temp }}, Wind {{ current.wind.HTMLString }}</p>

    <h2>Hourly Forecast</h2>
    {% for hour in hourly %}
      {% render './measurement', measurement: hour, date: hour.time %}
    {% endfor %}

    <h2>Daily Forecast</h2>
    {% for day in daily %}
      {% render './measurement_daily', measurement: day, date: day.time | date: "%Y-%m-%d" %}
    {% endfor %}
  </body>
</html>
